
@model Entities.Concrete.History

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var bookid = TempData["data"];
    }


@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script>
        $(document).ready(function () {

            $("form").validate({
                rules: {
                    "UserName": {
                        required: true,

                    },
                    "UserTc": {
                        required: true,
                        minlength: 11,
                        maxlength: 11
                    },
                    "UserPhone": {
                        required: true,
                        minlength: 14,
                        maxlength: 14
                    },
                },
                messages: {
                    "UserName": {
                        required: "Lütfen, Bir isim giriniz."
                    },
                    "UserTc": {
                        required: "Lütfen, Tc giriniz.",
                        minlength: "Tc kimlik numarası geçersiz.",
                        maxlength: "Tc kimlik numarası geçersiz."
                    },
                    "UserPhone": {
                        required: "Lütfen, Tel giriniz.",
                        minlength: "Telefon numarası geçersiz.",
                        maxlength: "Telefon numarası geçersiz."
                    }
                }
            });
       
            // mask eklendi
            $("#phone").mask("(999) 999-9999", { autoclear: false });
            var input = $("#phone");
            input.oninvalid = function (event) {
                event.target.setCustomValidity('Telefon numarası 11 haneli olmalıdır');
            }


                    //const offset = new Date().getTimezoneOffset() * 1000 * 60
            //const getLocalDate = value => {
            //    const offsetDate = new Date(value).valueOf() - offset
            //    const date = new Date(offsetDate).toISOString()
            //    return date.substring(0, 16)
            //}

            //console.log(getLocalDate);
            //$("#datetime1").val(getLocxalDate);


            $("#checkoutBtn").click(function () {
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Check-Out İşlemi tamamlandı',
                    showConfirmButton: false,
                    timer: 3000
                });
            });


           
        });


    </script>
}

<h1 class="text-center  ">Check-Out</h1>

<style>

    label {
        display: block;
    }

    input.error {
        border: 1px solid red;
    }

    label.error {
        font-weight: normal;
        color: red;
    }
</style>
<form asp-action="CheckOutView" asp-controller="History" method="post">

    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="UserPhone" class="control-label"></label>
        <input asp-for="UserPhone" type="tel" class="form-control" id="phone">
    </div>
    <div class="form-group">
        <label asp-for="UserTc" class="control-label"></label>
        <input asp-for="UserTc" type="number" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="BookId" class="control-label"></label>
        <input asp-for="BookId" class="form-control" value="@bookid" readonly />
    </div>
    <div class="form-group">
        <label asp-for="CheckOutDate" class="control-label"></label>
        <input id ="datetime1" asp-for="CheckOutDate" type="datetime-local" class="form-control" />
    </div>
 
    <div class="form-group mt-5">
        <input type="submit" value="Check-Out İşlemini Tamamla" id="checkoutBtn" class="btn btn-success" />
    </div>

</form>
